flask==2.0.1
flask-cors==3.0.10
pika==1.2.0
PyMuPDF==1.19.0
Pillow==9.0.0
numpy==1.21.0
spacy==3.1.0
opencv-python==4.5.3.56
pytesseract==0.3.8
python-dotenv==0.19.0
Werkzeug==2.0.1
requests==2.26.0
python-magic==0.4.24 

flask==2.0.1
flask-cors==3.0.10
pika==1.2.0
PyMuPDF==1.19.0
Pillow==9.0.0
numpy==1.21.0
spacy==3.1.0
opencv-python==4.5.3.56
pytesseract==0.3.8
python-dotenv==0.19.0
Werkzeug==2.0.1
requests==2.26.0
python-magic==0.4.24
regex
tldextract
pyyaml
phonenumbers>=8.12,<9.0.0
typing-extensions>=4.0.0
